
localization-pack-fr/StringTableEnAchievements.xml
localization-pack-fr/StringTableEnBuildingMode.xml
localization-pack-fr/StringTableEnCharacters.xml
localization-pack-fr/StringTableEnDiagnoses.xml
localization-pack-fr/StringTableEnEvents.xml
localization-pack-fr/StringTableEnExaminations.xml
localization-pack-fr/StringTableEnNames.xml
localization-pack-fr/StringTableEnNotifications.xml
localization-pack-fr/StringTableEnOptions.xml
localization-pack-fr/StringTableEnSkills.xml
localization-pack-fr/StringTableEnSymptoms.xml
localization-pack-fr/StringTableEnTreatments.xml
localization-pack-fr/StringTableEnTutorial.xml
localization-pack-fr/StringTableEnUI.xml
